.addItem {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
}

.itemName {
	flex: 3;
	align-items: center;
	padding: 3px;
	margin: 0 10px;
}

.itemQty {
	flex: 1;
	padding: 5px;
	margin: 0 10px;
}

.button {
	flex: 1;
}

.item {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 2px;
}

.nameLabel {
	flex: 3;
	padding: 13px;
	font-weight: bold;
}

.qtyLabel {
	flex: 1;
	padding: 13px;
	text-align: center;
	font-weight: bold;
}

.controls {
	flex: 1;
}
