.item {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 2px;
}

.nameLabel {
	flex: 3;
	padding: 13px;
	font-weight: bold;
}

.qtyLabel {
	flex: 1;
	padding: 13px;
	text-align: center;
	font-weight: bold;
}

.controls {
	flex: 1;
}
